<div>
  <cnt-flexy-view-abdullakh-promo-header-wrapper-1_01
    [categories]="getHeader()"
    [pathToAssets]="testPathToAssetsRet()"
  ></cnt-flexy-view-abdullakh-promo-header-wrapper-1_01>

  <cnt-flexy-view-abdullakh-promo-latest-works-wrapper-1_01
    [payload]="getLatestWork()"
    [pathToAssets]="testPathToAssetsRet()"
  ></cnt-flexy-view-abdullakh-promo-latest-works-wrapper-1_01>

  <cnt-flexy-view-abdullakh-promo-experiments-wrapper-1_01
    [payload]="getExperiments()"
    [pathToAssets]="testPathToAssetsRet()"
  ></cnt-flexy-view-abdullakh-promo-experiments-wrapper-1_01>

  <cnt-flexy-view-abdullakh-promo-footer-wrapper-1_01
    [categories]="getFooter()"
    [pathToAssets]="testPathToAssetsRet()"
  ></cnt-flexy-view-abdullakh-promo-footer-wrapper-1_01>
</div>
