*{

}

body{
  background-color: #f3f3f3;
  font-family: 'Roboto Slab', serif;
}

.modalOpen{
  overflow: hidden;
}

a{
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:not([href]) {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

button{
  cursor: pointer;
  text-decoration: inherit;
  color: inherit;
  outline: inherit;
}

button:not(:disabled) {
  cursor: pointer;
  text-decoration: inherit;
  color: inherit;
  outline: inherit;
}

input{
  outline: none;
}

#header_backg_white #buttonIcon{
  fill: #4c4f65 !important;
}

#header_backg_white #icon_item{
  color: #4c4f65;
}

#header_backg_white #icon_item:hover{
  color: black;
}

#header_backg_white #logo svg #logo1{
  fill: #3B3B3B;
}

#header_backg_white #logo svg #logo2{
  fill: #fff;
}

#logo svg{
  position: absolute;
}

#logo svg #logo1{
  fill: #fff;
}

#logo svg #logo2{
  fill: #3B3B3B;
}

#logoBack{
  transform: scale(2.5);
  transition: transform 0.5s;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  #logoBack{
    transform: scale(2);
  }
}

@media (max-width: 768px) {
  #logoBack{
    transform: scale(1.5);
  }
}

@media (max-width: 576px) {
  #logoBack{
    transform: scale(1);
  }
}
